@using Microsoft.AspNetCore.Identity
@using PcrBattleChannel.Pages.Home
@inject SignInManager<PcrBattleChannel.Models.PcrIdentityUser> SignInManager
@inject UserManager<PcrBattleChannel.Models.PcrIdentityUser> UserManager
@inject PcrBattleChannel.Data.ApplicationDbContext DbContext
@{
    var u = SignInManager.IsSignedIn(User) ? await UserManager.GetUserAsync(User) : null;
    var roles = u is null ? null : await UserManager.GetRolesAsync(u);
    bool isOwner = false;
    if (u is not null && u.GuildID.HasValue)
    {
        var guild = await DbContext.Guilds.FindAsync(u.GuildID);
        if (guild.OwnerID == u.Id) isOwner = true;
    }
}

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Home/Index">面板</a>
    </li>
    @if (u?.GuildID is not null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Guilds/Index">公会</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Zhous/Index">轴表</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Home/Box">Box</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Home/Combos">分刀</a>
        </li>
    }
</ul>
<ul class="navbar-nav">
    @if (u is not null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">已登录 @u.GameID</a>
        </li>
        @if (roles.Contains("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="/Admin/Index">站点管理</a>
            </li>
        }
        @if (isOwner)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="/Guilds/Edit">公会管理</a>
            </li>
        }
        @if (AddGuildModel.IsAllowed && !u.GuildID.HasValue)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="/Home/AddGuild">新建公会</a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Home/Index")">
                <button type="submit" class="nav-link btn btn-link text-dark">登出</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">注册</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">登录</a>
        </li>
    }
</ul>
