@page
@model PcrBattleChannel.Pages.Admin.AddGuildModel
@{
    ViewData["Title"] = "创建公会";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h4>创建公会</h4>
        <hr />
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.GuildName"></label>
                <input asp-for="Input.GuildName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.OwnerEmail"></label>
                <input asp-for="Input.OwnerEmail" class="form-control" />
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
