@page
@model PcrBattleChannel.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "管理";
}

<div>
    <a asp-page="EditGlobalData">编辑赛季数据</a>
</div>

<div>
    <a asp-page="Bosses/Index">编辑Boss数据</a>
</div>

<div>
    <a asp-page="AddGuild">创建公会</a>
</div>

<div>
    <a asp-page="RemoveGuild">删除公会</a>
</div>
