@page
@model LoginModel

@{
    ViewData["Title"] = "登录";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h4>@ViewData["Title"]</h4>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span class="text-muted">忘记密码？请联系公会会长或网站管理员进行重置。</span>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">登录</button>
                </div>
                <div class="form-group">
                    <p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">注册账号</a></p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
