@page
@model RegisterModel
@{
    ViewData["Title"] = "注册";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h4>@ViewData["Title"]</h4>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.QQ"></label>
                <input asp-for="Input.QQ" class="form-control" />
                <span asp-validation-for="Input.QQ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">注册</button>
            <div class="form-group">
                <p><a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">登录</a></p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
