@page
@model PcrBattleChannel.Pages.Guilds.ResetUserPasswordModel
@{
}

<div class="row">
    <div class="col-md-8 offset-md-2" style="word-wrap:break-word">
        <p>请点击以下链接或将此链接发送给该用户来重置其密码：</p>
        <p>
            <a id="link" asp-area="Identity" asp-page="/Account/ResetPassword" asp-route-code="@Model.Code">
                重置密码
            </a>
        </p>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#link').html($('#link')[0].href);
        });
    </script>
}
