@page
@model PcrBattleChannel.Pages.Guilds.StatusModel
@{
    ViewData["Title"] = "公会设置";
}

<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Guild.GuildID" />
            <div class="form-group">
                <label asp-for="CurrentLap" class="control-label"></label>
                <input asp-for="CurrentLap" class="form-control" id="lap-index" onchange="update_boss_name()" />
                <span asp-validation-for="CurrentLap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentBoss" class="control-label"></label>
                <input asp-for="CurrentBoss" class="form-control" id="boss-index" onchange="update_boss_name()" />
                <span asp-validation-for="CurrentBoss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Boss名</label>
                <div id="boss-name"></div>
            </div>
            <div class="form-group">
                <label asp-for="CurrentBossRatio" class="control-label"></label>
                <input asp-for="CurrentBossRatio" class="form-control" />
                <span asp-validation-for="CurrentBossRatio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanRatio" class="control-label"></label>
                <input asp-for="PlanRatio" class="form-control" />
                <span asp-validation-for="PlanRatio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">保存</button>
            </div>
        </form>
    </div>
</div>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        stages = @Html.Raw(Model.FirstLapForStagesString);
        bossNames = @Html.Raw(Model.BossNamesString);
        function update_boss_name() {
            var lap = $('#lap-index').val() - 1;
            var boss = $('#boss-index').val() - 1;
            for (var i = 1; i < stages.length; ++i) {
                if (stages[i] > lap) {
                    $('#boss-name').html(bossNames[i - 1][boss]);
                }
            }
            $('#boss-name').html(bossNames[bossNames.length - 1][boss]);
        }
        $(document).ready(function () {
            update_boss_name();
        });
    </script>
}
