@page "/Combo"
@model PcrBattleChannel.Pages.Home.CombosModel
@{
    ViewData["Title"] = "个人分刀";
}

<h4>个人分刀</h4>
<hr />

<partial name="_Combo_StatusPartial" model="Model" />

<h4>分刀套餐</h4>
<div class="row pt-2 pb-2">
    <div class="col-md-10">
        <form method="post" asp-page-handler="setdraft"
              data-ajax="true" data-ajax-method="post"
              data-ajax-failure="draft_option_update_failure">
            <label class="form-group form-check-label pb-2">
                <input type="checkbox" asp-for="UserIncludesDrafts"
                       onchange="$(this.form).submit()" />
                匹配时包括草稿
            </label>
        </form>
        <form method="post" asp-page-handler="refresh">
            <button type="submit" class="btn btn-primary">重新计算</button>
        </form>
    </div>
</div>

<div class="row align-bottom py-2 border-top border-bottom">
    <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
        <span class="font-weight-bold">阵容</span>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 d-none d-md-block">
        <span class="d-inline-block font-weight-bold">推荐度</span>
        <span class="d-inline-block font-weight-bold">（当前/初始）</span>
    </div>
</div>
@foreach (var item in Model.UserCombo)
{
    <div id="combo-@item.UserComboID">
        <partial name="_Combo_ComboPartial" model="Model.CreateSingleModel(item)" />
    </div>
}

<style>
    #character-list .character-list-item {
        display: inline-block;
        position: relative;
    }

    #character-list .tick-mark {
        position: absolute;
        right: -3px;
        bottom: -3px;
        width: 25px;
        height: 25px;
        z-index: 1;
        display: none;
    }

        #character-list .tick-mark img {
            width: 100%;
        }

    #character-list .selected .tick-mark {
        display: block;
    }
</style>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function user_status_confirm_success() {
            $('#status-confirm-button').prop('disabled', true);
            $('.guessed').hide();
        }
        function toggle_user_status_edit(btn) {
            btn.form.reset();
            $('#user-status-display').toggle();
            $('#user-status-edit').toggle();
        }
        function user_status_update_failure() {
            alert('更新失败');
        }
        function user_status_edit_character_click(e) {
            $(e).toggleClass('selected');
            var allSelected = $('#character-list .selected');
            var str = '';
            allSelected.each(function (a, b) {
                if (str.length > 0) str = str + ',';
                str = str + b.getAttribute('data-character-id');
            });
            $('#characterliststring').val(str);
        }
        function combo_select_success() {
            var id = this.getAttribute('data-select-combo-toggle');
            $('.select-next-div-selected').hide();
            $('.select-next-div-unselected').show();
            $(id).toggle();
        }
        function combo_select_failure() {
            alert('设置失败');
        }
        function draft_option_update_failure() {
            alert('设置失败');
        }
    </script>
}