@page "/Combo"
@model PcrBattleChannel.Pages.Home.CombosModel
@{
    ViewData["Title"] = "个人分刀";
}

<h4>个人分刀</h4>
<hr />

<partial name="_Combo_StatusPartial" model="Model" />

<h4>分刀套餐</h4>
<div class="row pt-2 pb-2">
    <div class="col-md-10">
        <form method="post" asp-page-handler="refresh">
            <button type="submit" class="btn btn-primary">重新计算</button>
        </form>
        <table>
        </table>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>推荐度（当前值/初始值）</th>
            <th colspan="2">阵容</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model.UserCombo)
    {
        <tbody id="combo-@item.UserComboID">
            <partial name="_Combo_ComboPartial" model="Model.CreateSingleModel(item)" />
        </tbody>
    }
    <tfoot>
        <tr><td colspan="4" /></tr>
    </tfoot>
</table>

<style>
    #character-list .character-list-item {
        display: inline-block;
        position: relative;
    }

    #character-list .tick-mark {
        position: absolute;
        right: -3px;
        bottom: -3px;
        width: 25px;
        height: 25px;
        z-index: 1;
        display: none;
    }

    #character-list .tick-mark img {
        width: 100%;
    }

    #character-list .selected .tick-mark {
        display: block;
    }
</style>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function user_status_confirm_success() {
            $('#status-confirm-button').prop('disabled', true);
            $('.guessed').hide();
        }
        function toggle_user_status_edit(btn) {
            btn.form.reset();
            $('#user-status-display').toggle();
            $('#user-status-edit').toggle();
        }
        function user_status_update_failure() {
            alert('更新失败');
        }
        function user_status_edit_character_click(e) {
            $(e).toggleClass('selected');
            var allSelected = $('#character-list .selected');
            var str = '';
            allSelected.each(function (a, b) {
                if (str.length > 0) str = str + ',';
                str = str + b.getAttribute('data-character-id');
            });
            $('#characterliststring').val(str);
        }
    </script>
}